body {
  background: #000;
  color: #ddd;
  max-width: 624px;
  padding: 20px;
  line-height: 1.7;
  font-size: 9pt;
  font-family: monospace;
}

a, a:visited {
  color: #fff;
  padding: 2px;
  border: 1px solid yellow;
  background-color: none;
  text-decoration: none;
}
a:hover {
  color: #000;
  background-color: yellow;
  text-decoration: none;
}
ul {
  padding-left: 10px;
}
#logo {
  background-color: transparent;
  float: right;
  margin-right: 0px;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 60px;
  width: 20%;
  transition: transform 1s;
  transform-origin: 46% 44%;
  transform-style: preserve-3D;
}
#logo:hover {
  /*transform: rotate(-120deg);*/

}
img.webring_icon {
  width: 30px;
}
#footer {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #333;
}

a.logo, a.logo:visited, a.logo:hover {
  border: none;
  text-decoration: none;
  color: none;
  background: none;
}

.project {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 100%;
}

.project-thumb {
  float: left;
  margin-right: 15px;
  width: 200px;
}

h1 {
  margin-top: 50px;
  color: #fff;
}
h2 {
  margin-top: 40px;
  color: #eee;
}
h3 {
  margin-top: 30px;
  color: #ccc;
}

.block {
  float: left;
}

/* ---------- code / pre blocks ---------- */

pre {
  background-color: #0d1117;
  border: 1px solid #1e2a3a;
  border-radius: 4px;
  padding: 14px 16px;
  overflow-x: auto;
  margin: 20px 0;
  line-height: 1.5;
  scrollbar-width: thin;
  scrollbar-color: #2a3a4a #0d1117;
}

pre::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-track {
  background: #0d1117;
  border-radius: 3px;
}

pre::-webkit-scrollbar-thumb {
  background: #2a3a4a;
  border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #3a4f66;
}

pre code {
  font-family: monospace;
  font-size: 8.5pt;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

/* inline code */
code {
  background-color: #161b22;
  color: #e6db74;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 8.5pt;
  border: 1px solid #1e2a3a;
}

/* ---------- posts section ---------- */

.posts {
  margin-bottom: 20px;
}

.post-entry {
  margin-bottom: 8px;
  line-height: 1.8;
}

.post-date {
  color: #666;
  margin-left: 10px;
  font-size: 8pt;
}

/* ---------- blockquote ---------- */

blockquote {
  border-left: 3px solid #444;
  margin-left: 0;
  padding: 4px 16px;
  color: #999;
}

/* ---------- hr ---------- */

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 40px 0;
}

/* ---------- tables ---------- */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th, td {
  border: 1px solid #333;
  padding: 6px 10px;
  text-align: left;
}

th {
  background-color: #111;
  color: #fff;
}

/* ---------- strong / em ---------- */

strong {
  color: #fff;
}

/* ---------- responsive ---------- */

@media screen and (max-width: 800px) {
  body {
    width: auto;
    font-size: 9pt;
  }
  #logo {
    float: right;
    width: 30%;
    margin-right: 0px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
  }
  pre {
    font-size: 7.5pt;
    padding: 10px 12px;
  }
}
