body {
  background: #000;
  color: #fff;
  width: 40%;
  padding: 30px;
  line-height: 16pt;
  font-size: 9pt;
  font-family: monospace;
}

a, a:visited {
  color: #fff;
  padding: 2px;
  border: 1px solid yellow;
  background-color: none;
  text-decoration: none;
}
a:hover {
  color: #000;
  background-color: yellow;
  text-decoration: none;
}

#logo {
  background-color: #000;
  float: right;
  margin: 50px;
}
img.webring_icon {
  width: 30px;
}
#footer {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid white;
}

a.logo, a.logo:visited, a.logo:hover {
  border: none;
  text-decoration: none;
  color: none;
  background: none;
}

img.project-thumb {
  float: right;
  margin: 10px;
}

h1 {
  margin-top: 50px;
}
h2,h3 {
  margin-top: 20px;
}

pre {
  background-color: #222;
  color: #aaa;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  body {
    width: auto;
    padding: 10px;
    margin: 0px;
    font-size: 10pt;
  }
  #logo {
    margin-bottom: 0px;
    padding: 0px;
    width: 50%;
    float: right;
  }
}


